<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tap Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F021877C1E2EE14C00F9676D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F02187901E2EE14D00F9676D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F021879B1E2EE14D00F9676D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
